<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/s/css/index.css">
    <link href="/s/image/header.png" rel="shortcut icon"/>
    <title>大头秀</title>
</head>
<body>
<div class="pc">
    <div class="index_banner">
        <div class="index_main">
            <div class="index_top">
                <div class="index_logo"></div>
                <div class="index_download">
                    <img src="/s/image/qrcode.png" alt="">
                    <div class="download_button">
                        <a href="https://itunes.apple.com/cn/app/id1156043950" target="_blank" title="大头秀下载"
                           class="iphone"></a>
                        <a href="#" class="android"></a>
                    </div>
                </div>
                <div class="index_contact">
                    <div class="index_text">联系我们</div>
                    <a href="http://weibo.com/p/1006066066100183" target="_blank" class="sina"></a>
                    <div class="index_qq">
                        <div class="tel">
                            <div class="tel_text">联系电话</div>
                            <div class="tel_number">010-88279790</div>
                        </div>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=3296963354&site=qq&menu=yes" target="_blank"
                           class="tel">
                            <div class="tel_text">联系QQ</div>
                            <div class="tel_number">3296963354</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="mobile_top">
        <div class="mobile_main">
            <div class="mobile_banner">
                <img src="/s/image/mobile_back.png" alt="" style="height: 100%;width: 100%;">
                <div class="mobile_btn">
                    <div class="mobile_apple">
                        <a href="https://itunes.apple.com/cn/app/id1156043950" target="_blank" title="大头秀下载"
                        ></a>
                    </div>
                    <div class="mobile_android"><a href="#"></a></div>


                </div>


            </div>
        </div>
        <div class="mobile_video_title">
                    <span>精彩视频</span>
                </div>
                <div class="video_list">
                    <div class="ui-row">
                        {% for share in share_list %}
                        <li class="ui-col ui-col-50 video_li">
                            <a href="{{ share.url }}" class="mobile_video" style="background: url({{ share.thumb_nail }}) no-repeat 0 0;background-size: contain;"></a>
                            <span>{{ share.source.title }}</span>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            <div class="bottom">
                <span>快下载大头秀app，秀出你的演技吧↘</span>
            </div>
    </div>
    <footer class="ui-footer ui-footer-stable ui-border-t footer">
        <div class="footer_logo">
            <img src="/s/image/logo.png" alt="" width="50px" height="50px" style="float: left;">
            <div class="logo_text">
                <div style="color: white;">大头秀</div>
                <div style="color: #8D0029;font-size: small;">一键录制,变身火热短视频主角</div>
            </div>

        </div>
        <a href="https://itunes.apple.com/cn/app/id1156043950" target="_blank" TITLE="大头秀" class="footer_button"></a>
    </footer>
</div>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
</body>
</html>