<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="w9EkksAPp8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="baidu-site-verification" content="FDJ73drJ9c"/>
    <meta name="description"
          content="大头秀是一款「录制换脸视频，变身搞笑短片主角」的app。轻松愉快的创作过程和丰富的可选素材，让你轻松秀出演技. 大头秀, 激萌, 搞怪, 搞笑, 短视频, 小视频制作">
    <meta name="keywords" content="大头秀, 激萌, 搞怪, 搞笑, 短视频, 小视频制作">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/s/css/index.css">
    <link href="/s/image/header.png" rel="shortcut icon"/>
    <title>大头秀-变身热门短视频主角</title>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', '8bac030e5dd1152a']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
</head>
<body>
<div class="pc">
    <div class="index_banner">
        <div class="index_main">
            <div class="index_top">
                <div class="index_logo"></div>
                <div class="index_download">
                    <img src="/s/image/qrcode.png" alt="">
                    <div class="download_button">
                        <a href="https://itunes.apple.com/cn/app/id1156043950" onclick="count(1)" target="_blank"
                           title="大头秀下载"
                           class="iphone"></a>
                        <a href="#" onclick="is_weixn_a()" class="android"></a>
                    </div>
                </div>
                <div class="index_contact">
                    <div class="index_text">联系我们</div>
                    <a href="http://weibo.com/p/1006066066100183" target="_blank" class="sina"></a>
                    <div class="index_qq">
                        <div class="tel">
                            <div class="tel_text">联系电话</div>
                            <div class="tel_number">010-88279790</div>
                        </div>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=3296963354&site=qq&menu=yes" target="_blank"
                           class="tel">
                            <div class="tel_text">联系QQ</div>
                            <div class="tel_number">3296963354</div>
                        </a>
                    </div>
                </div>
                <footer style="height:50px;position:fixed;bottom:0px;left:0px;width: 100%; margin: 0 auto; color: white;text-align: center;">
                    <a href="/about" style="color: white;">关于</a>

                    <p style="color: white;font-size: 14px">Copyright© 北京江山如画网络科技有限责任公司 版权所有 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鲁ICP备15029913号
                    </p>
                </footer>
            </div>
        </div>
    </div>

</div>
<div class="mobile">
    <div class="mobile_top">
        <div class="mobile_main">
            <div class="mobile_banner">
                <img src="/s/image/mobile_back.png" alt="" style="height: 100%;width: 100%;">
                <div class="mobile_btn">
                    <div class="mobile_apple">
                        <button id="down" onclick="is_weixn()" title="大头秀下载"
                        ></button>
                    </div>
                    <div class="mobile_android"><a href="#" onclick="is_weixn_a()"></a></div>


                </div>


            </div>
        </div>
        <div class="mobile_video_title">
            <span>精彩视频</span>
        </div>
        <div class="video_list">
            <div class="ui-row">
                {% for share in share_list %}
                    <li class="ui-col ui-col-50 video_li">
                        <a href="/page/share/{{ share.id }}" class="mobile_video"
                           style="background: url({{ share.thumb_nail }}) no-repeat 0 0;"></a>
                        <span class="video_title">{{ share.source.title }}</span>
                    </li>
                {% endfor %}
            </div>
        </div>
        <div class="bottom">
            <span>快下载大头秀app，秀出你的演技吧↘</span>
        </div>
    </div>
{#    <footer class="ui-footer ui-footer-stable ui-border-t footer">#}
{#        <div class="footer_logo">#}
{#            <img src="/s/image/logo.png" alt="" width="50px" height="50px" style="float: left;">#}
{#            <div class="logo_text">#}
{#                <div style="color: white;">大头秀</div>#}
{#                <div style="color: #8D0029;font-size: small;">一键录制,变身火热短视频主角</div>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <a href="#down" class="footer_button"></a>#}
{#    </footer>#}
{#  #}
</div>
<div style="display: none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1261043056'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261043056%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
    function count(channel) {
        var url = '/api/v1/record';
        $.ajax({
            type: 'GET',
            url: url,
            data: {
                'channel': channel
            },
            success: function (data) {

            },
            dataType: 'json'
        })
    }

    function is_weixn() {
        count(1);
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger" || ua.match(/meipai/i) == "meipai") {
            window.location.href = "/page/guide?from=ios";
        } else {
            setTimeout(function () {
                window.location = "https://itunes.apple.com/cn/app/id1156043950";
            }, 25);
            window.location = "Star://star";
        }
    }
        function is_weixn_a() {
        count(2);
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger" || ua.match(/meipai/i) == "meipai") {
            window.location = "http://static.fibar.cn/datoushow_newest.apk";
            window.location.href = "/page/guide?from=android";
        } else {
            setTimeout(function () {
                window.location = "http://static.fibar.cn/datoushow_newest.apk";
            }, 25);
            window.location = "Star://star";
        }
    }
</script>
</body>
</html>