<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <link href="/s/image/header.png" rel="shortcut icon"/>
    <title>大头秀-分享-{{ share.source.title }}</title>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function () {
            _vds.push(['setAccountId', '8bac030e5dd1152a']);
            (function () {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
</head>
<body style="background-color: black;">
<footer class="ui-footer ui-footer-stable ui-border-t" style="background-color: white">
    <div style="margin-top: 10px;">
    <img style="float: left; margin-left: 10px;" src="/s/image/datou_footer.png" height="35" alt="">
    <button  style="float: right; margin-right: 10px; border-radius: 50px; padding: 8px 18px; margin-top: 8px; color: white; font-size: small; background-color: #FF0F50; font-family: 'Microsoft YaHei';" onclick="is_weixn()">打开大头秀</button>
    </div>
</footer>

<section class="ui-container ui-center">
    <video controls="" autoplay="" name="media" style="width: 100%; margin-top: 30%;">
        <source src={{ share.url }} type="video/mp4">
    </video>
</section>
<div style="display: none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1261043056'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261043056%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    function is_weixn() {
        var url = '/api/v1/click';
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {

            },
            dataType: 'json'
        });
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            window.location.href = "/page/guide";
        } else {
            setTimeout(function () {
                window.location = "https://itunes.apple.com/cn/app/id1156043950";
            }, 25);
            window.location = "Star://star";
        }
    }
    window.onload = function () {
        var current = document.location.href;
        var url = '/api/v1/wechat/token?url=' + current;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                wx.config({
                    debug: false,
                    appId: 'wx8f04e633e9b5d33c',
                    timestamp: data.body.timestamp,
                    nonceStr: data.body.nonceStr,
                    signature: data.body.signature,
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                });
            }
        });

    };
    wx.ready(function () {
        var current = document.location.href;
        wx.onMenuShareTimeline({
            title: '{{ share.source.title }}', // 分享标题
            link: current, // 分享链接
            imgUrl: '{{ share.source.thumb_nail }}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: '{{ share.source.title }}', // 分享标题
            desc: '变身短视频主角, 演技好的盆友都在玩哦~', // 分享描述
            link: current, // 分享链接
            imgUrl: '{{ share.source.thumb_nail }}', // 分享图标
            dataUrl: '{{ share.source.url }}', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</body>
</html>