<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <title>分享</title>
</head>
<body>
<header class="ui-header ui-header-stable ui-border-b" style="background-color: #FB4157;">
    <img style="float: left;" src="/s/image/logor@120.png" width="40" height="40" alt="">
    <h1 style="text-align: left; color: white;">Star 特别有意思</h1>

    <button class="ui-btn" style="color: #FF5C6B" onclick="is_weixn()">打开 Star</button>
</header>
<footer class="ui-footer ui-footer-stable ui-border-t">

    <a style="margin-top: 5px;background-color: #FF5C6B;color:white;background-image: none;" class="ui-btn-lg"
       href="https://itunes.apple.com/cn/app/id1156043950">
        打开 Star 创造自己的短片
    </a>

</footer>
<section class="ui-container ui-center">
    <video controls="" autoplay="" name="media" style="width: 100%;">
        <source src={{ share.url }} type="video/mp4">
    </video>
</section>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
<script>
    function is_weixn() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            window.location.href = "/page/guide";
        } else {
            window.location.href = "Star://star";
        }
    }
</script>
</body>
</html>