<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css" rel="stylesheet">
    <title>分享</title>
</head>
<body>
<header class="ui-header ui-header-stable ui-border-b" style="background-color: #FB4157;">
    <h1 style="text-align: left;"><img src="/s/image/logor@120.png" width="40" height="40" alt=""></h1>

    <button class="ui-btn">打开 Star</button>
</header>
<footer class="ui-footer ui-footer-stable ui-border-t" ">
    <ul class="ui-tiled">
        <li>
            <div>菜单</div>
            <i>1</i></li>
        <li>
            <div>菜单</div>
            <i>2</i></li>
        <li>
            <div>菜单</div>
            <i>3</i></li>
    </ul>
</footer>
<section class="ui-container ui-center">
    内容
</section>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/js/frozen.js"></script>
<script src="//cdn.bootcss.com/FrozenUI/1.3.0/lib/zepto.min.js"></script>
</body>
</html>